/* ----- FONDO PRINCIPAL ----- */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: url("img/fondodeporte.PNG") no-repeat center center/cover;
}

/* ----- TÍTULO PRINCIPAL ----- */
.hero {
    text-align: center;
    padding: 80px 20px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.hero h1 {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 5px;
}

.hero p {
    font-size: 22px;
    margin-top: -10px;
    font-style: italic;
}

/* ----- SLIDER ----- */
.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    position: relative;
}

/* FLECHAS */
.btn-nav {
    background: white;
    border: none;
    font-size: 40px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.btn-nav:hover {
    background: #f0f0f0;
}

/* CONTENEDOR DE TARJETAS */
.cards-container {
    display: flex;
    gap: 30px;
}

/* TARJETAS DE DEPORTES */
.card {
    background: white;
    width: 260px;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 15px;
}

.card p {
    background: white;
    padding: 10px;
    border-radius: 30px;
    margin-top: 10px;
    font-size: 13px;
}
/* BOTÓN VOLVER AL INICIO */
.btn-arriba {
    position: fixed;
    top: 20px;        /* ARRIBA */
    right: 20px;      /* DERECHA */
    background: white;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;   /* RECTANGULAR */
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: 0.3s;
    z-index: 999;
}

.btn-arriba:hover {
    background: #f0f0f0;
}
