/* ===== GENERAL ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* ===== FONDO DE VOLEY ===== */
.info-section {
    width: 100%;
    height: 100%;
    padding:213px   40px;
    background-image: url("img/2.PNG");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

/* ===== TÍTULOS ===== */
.info-title h2 {
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 8px;
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.info-title h3 {
    font-size: 50px;
    font-weight: 900;
    margin-top: -10px;
}

.sub-box {
    margin: 20px auto;
    background: #4B1F1F;
    padding: 12px 25px;
    display: inline-block;
    font-weight: 500;
    border-radius: 4px;
}

/* ===== TARJETAS ===== */
.info-cards {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 28%;
    background: rgba(75, 31, 31, 0.85);
    padding: 25px;
    border-radius: 4px;
    line-height: 1.5;
    font-size: 17px;
    text-align: left;
}

/* ===== BOTÓN VOLVER AL INICIO ===== */
.btn-arriba {
    position: fixed;
    top: 20px;
    right: 20px;
    background: white;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: 0.3s;
    z-index: 999;
}

.btn-arriba:hover {
    background: #f0f0f0;
}