* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0b0f13;
    color: white;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url("img/fondo.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur-box {
    width: 85%;
    height: 75%;
    backdrop-filter: blur(2px);
    background: rgba(42, 81, 105, 0.45);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

/* ---------------- MENU SUPERIOR -------------- */
.top-menu {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}

.top-menu nav a {
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.top-menu nav a:hover {
    opacity: 0.7;
}

.logo {
    width: 80px;
}

/* ---------------- TITULO ---------------- */
.title {
    font-size: 90px;
    font-weight: 800;
    letter-spacing: 8px;
}

.ball {
    font-size: 80px;
}

/* ---------------- SUBTITULO --------------- */
.sub {
    margin-top: 25px;
    font-size: 18px;
    opacity: 0.9;
}
